@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    border: none;
    outline: none;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

header{
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, bottom right;
    background-color: #FFF8F3;
    padding-top: 20px;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 200px; 
}

.primary-bg{
    color: #FD6E0A;
}

nav h1{
    font-weight: 800;
    font-size: 36px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li{
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
}

/* banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 40px;
}
.banner-content{
    max-width: 585px;
}
.banner .banner-content h1{
    font-size: 55px;
    margin-bottom: 20px;
}
.banner .banner-content h4{
    font-size: 40px;
}
.banner-content p{
    margin-bottom: 20px;
}
.banner img{
    max-width: 585px;
}
.banner-btns button{
    margin: 0px 20px 0px 0px;
}


/* main styles */
main{
    max-width:1140px;
    margin: 130px auto;
}
.about{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background-color: #FFF8F3;
}

.about .about-description{
    margin: 30px 0px;
    text-align: center;
    line-height: 26px;
    font-size: 17px;
}
.about-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 9rem;
}
.what-i-do{
    text-align: center;
    margin-top: 130px;
    padding: 0px 160px;
}
.what-i-do h1{
    margin-bottom: 30px;
    font-size: 30px;
}

/* cards style */
.cards{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.cards .single-card h4{
    margin: 20px 0px;
}
.cards .single-card{
    width: 260px;
    padding: 25px 75px 25px 25px;
    box-shadow: 0px 0px 21px 0px #0000002e;
}
.cards .single-card p{
    color: #757575;
    font-size: 15px;
}

/* Resume section styles  */
.resume-section .resume-title{
    text-align: center;
    margin: 130px 0px;
    font-size: 40px;
}
.resume-columns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.single-column .single-column-title{
    margin-bottom: 20px;
    font-size: 32px;
}
.single-eduexp h2{
    margin-bottom: 10px;
    margin-top: 30px;
}
.single-eduexp .sub-info{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.single-eduexp .eduexpdetails{
    margin-bottom: 25px;
    padding-right: 100px;
}
.resume-section .cv-btn{
    text-align: center;
}

/* footer styles */
.footer{
    background-color:#FFF8F3;
    padding: 100px 0px;
}

.footer-content{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: start;
}
.footer-content .footer-icons a {
    margin-right: 15px;
    font-size: 25px;
    text-decoration: none;
    color: #FD6E0A;
}
.footer-right{
    padding-left: 100px;
}
.footer-content .footer-header{
    margin-bottom: 20px;
}
.footer-content p{
    margin-bottom: 20px;
    line-height: 25px;
}

.footer-right form input, .footer-right form textarea{
    width: 100%;
    border: none;
    outline: none;
    padding: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}